<template>
  <div id="page--chat" class="page">
    <h2 class="sr-only">{{ t.navigation.chat }}</h2>
    <!-- TODO [MVP]: Save drafts on chat leave-->
    <template v-if="rooms.loading && !rooms.predicted">
      <Spinner class="mx-auto mt-xl md:mt-xxl" :size="SpinnerSize.large" />
    </template>
    <template v-else-if="rooms.succeeded">
      <div class="container">
        <ChatRoomList
          class="rooms-panel"
          :rooms="rooms.value"
          :activeRoomId="activeRoomId"
          @select="setActiveRoom"
        ></ChatRoomList>
        <div class="chat-panel" aria-live="polite">
          <transition name="fade" :duration="150">
            <ChatRoom
              v-if="activeRoom"
              :items="activeRoomItems"
              :room="activeRoom"
              :room-id="activeRoomId"
              :key="activeRoomId"
              :id="`chat-frame--${activeRoomId}`"
              class="chat-frame"
              @submit="addPrediction"
              role="tabpanel"
            ></ChatRoom>
          </transition>
        </div>
      </div>
    </template>
    <div v-else role="alert">Error: {{ rooms.error }}</div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watchEffect } from "vue";
import {
  ChatItem,
  ChatRoom as ChatRoomT,
  fetchChatRoomItems,
  fetchChatRooms,
} from "./chat.service";
import { useLoading } from "../common/hooks/loading";
import Spinner, { SpinnerSize } from "@/modules/common/Spinner.vue";
import ChatRoom, { MessageSubmit } from "@/modules/chat/ChatRoom.vue";
import ChatRoomList from "@/modules/chat/ChatRoomList.vue";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  components: {
    ChatRoomList,
    ChatRoom,
    Spinner,
  },
  setup() {
    const activeRoomId = ref<null | ChatRoomT["id"]>(null);
    const rooms = useLoading(fetchChatRooms());
    const activeRoomItems = useLoading<ChatItem[]>();
    const activeRoom = computed(() => {
      if (activeRoomId.value == null || !rooms.state.value.succeeded) {
        return null;
      }
      return rooms.state.value.value!.find(
        ({ id }) => id === activeRoomId.value
      );
    });

    watchEffect((onInvalidate) => {
      if (!activeRoomId.value) {
        return;
      }
      activeRoomItems.next(fetchChatRoomItems(activeRoomId.value));
      onInvalidate(activeRoomItems.cancel);
    });

    return {
      SpinnerSize,
      rooms: rooms.state,
      activeRoomItems: activeRoomItems.state,
      activeRoom,
      activeRoomId,
      t: injectTranslations(),

      setActiveRoom({ id }: ChatRoomT) {
        activeRoomId.value = id;
      },
      addPrediction(evt: MessageSubmit) {
        predictRooms(evt);
        predictItems(evt);
      },
    };

    function predictRooms({ prediction, promise }: MessageSubmit) {
      const roomId = activeRoomId.value;
      // fetch updated rooms list with prediction
      const roomsList = rooms.state.value.value!;
      const roomIdx = roomsList.findIndex((it) => it.id === roomId);
      const predictedRoom: ChatRoomT = {
        ...roomsList[roomIdx]!,
        latestAction: prediction,
      };
      const predictedRooms: ChatRoomT[] = [
        predictedRoom,
        ...roomsList.slice(0, roomIdx),
        ...roomsList.slice(roomIdx + 1),
      ];
      rooms.next(
        promise.then(() => fetchChatRooms()),
        predictedRooms
      );
    }

    function predictItems({ prediction, promise }: MessageSubmit) {
      const roomId = activeRoomId.value!;
      // fetch updated current room items with prediction
      const predictedItems: ChatItem[] = [
        ...activeRoomItems.state.value.value!,
        prediction,
      ];
      activeRoomItems.next(
        promise.then(() => fetchChatRoomItems(roomId)),
        predictedItems
      );
    }
  },
});
</script>

<style lang="scss" scoped>
@use "sass:math";

@import "~@/styles/theme/variables";

.page {
  display: flex;
  height: 100%;
  animation: fade-in ease 0.5s both;
}

.container {
  flex: 1;
  display: flex;
  align-items: stretch;
  margin: 0 math.div(-$spacing-xl, 2);
  min-width: 0;
}

.rooms-panel {
  width: math.div(100%, 3);
  min-height: 0;
  max-height: 100%;
}

.chat-panel {
  margin: 0 math.div($spacing-xl, 2);
  background-color: $panel-bg-transparent;
  flex: 1;
  max-height: 100%;
  position: relative;
}

.chat-frame {
  height: 100%;
}

.fade-leave-active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
