<template>
  <div id="page--support" class="page">
    <h2 class="sr-only">{{ t.navigation.support }}</h2>

    <p>TODO [MVP]: FAQ</p>
    <p>TODO [MVP]: Contact address</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  setup() {
    return {
      t: injectTranslations(),
    };
  },
});
</script>
