<template>
  <button
    class="dropdown-trigger"
    :class="{ opened: expanded }"
    @click="toggleDropdown"
    :aria-controls="contentId"
    :aria-expanded="expanded"
    ref="dropdownButton"
  >
    <slot name="button" :expanded="expanded" />
  </button>
  <NavigationDropdownContent
    :id="contentId"
    class="dropdown-content"
    ref="content"
    :class="{ hidden: !expanded }"
    :align-with="dropdownButton"
    :align="align"
  >
    <slot name="content" />
  </NavigationDropdownContent>
</template>

<script lang="ts">
import { defineComponent, onMounted, onUnmounted, ref, PropType } from "vue";
import NavigationDropdownContent, {
  Align,
} from "@/modules/frame/navigation/dropdown/NavigationDropdownContent.vue";
import { findClosest, isEqualOrAncestorOf } from "@/utils/dom";

export default defineComponent({
  props: {
    contentId: { type: String, required: true },
    align: { type: String as PropType<Align>, default: Align.LEFT },
  },
  components: {
    NavigationDropdownContent,
  },
  setup() {
    const dropdownButton = ref<Element | null>(null);
    const expanded = ref(false);
    const content = ref<typeof NavigationDropdownContent>();

    onMounted(() => document.addEventListener("click", onDocumentClick));
    onUnmounted(() => document.removeEventListener("click", onDocumentClick));

    return {
      dropdownButton,
      expanded,
      content,

      toggleDropdown,
    };

    function toggleDropdown() {
      expanded.value = !expanded.value;
    }

    function onDocumentClick(evt: Event) {
      if (!expanded.value) {
        return;
      }
      const targetElement = evt.target! as Element;
      if (isEqualOrAncestorOf(dropdownButton.value!, targetElement)) {
        // ignore click on toggle-button
        return;
      }
      if (isEqualOrAncestorOf(content.value!.$el, targetElement)) {
        // ignore click inside container, if target is within anchor/button tag
        const closestActionTag = findClosest(
          targetElement,
          (it) => it.tagName === "A" || it.tagName === "BUTTON"
        );
        if (closestActionTag === null) {
          return;
        }
      }
      // toggle on click outside of container or within a-tag inside container
      expanded.value = false;
    }
  },
});
</script>
