<template>
  <div id="page--imprint" class="page">
    <h2 class="sr-only">{{ t.legal.imprint }}</h2>

    <p>TODO [MVP]: Address information (configurable via env)</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  setup() {
    onMounted(() => {
      document.dispatchEvent(new Event("x-app-rendered"));
    });

    return {
      t: injectTranslations(),
    };
  },
});
</script>
