<template>
  <header
    id="page-header"
    class="font--heading"
    :aria-label="t.navigation.title"
  >
    <div class="container-fluid">
      <div class="inner-container">
        <nav id="navigation-left" class="navigation-slot">
          <slot name="left"></slot>
        </nav>
        <h1>{{ t.title }}</h1>
        <nav id="navigation-right" class="navigation-slot">
          <slot name="right"></slot>
        </nav>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  setup() {
    return { t: injectTranslations() };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";
@import "~@/styles/mixins";

h1 {
  @include logo;
}

.container-fluid {
  @include container-fluid;
  padding-left: 0;
  padding-right: 0;
}

.inner-container {
  display: flex;
  justify-content: space-between;

  @media #{$viewport-xs} {
    border-bottom: $spacing-sm solid $primary-400;
  }
}

#page-header {
  background-color: $primary-100;
  background-image: linear-gradient(
    350deg,
    mix($primary-200, $secondary-400, 50),
    $primary-100
  );
  color: $primary-800;
  z-index: 1000;
  box-shadow: 0 0 4px fade-out($real-black, 0.55);
}

nav {
  display: flex;
  flex-wrap: wrap;

  &#navigation-right {
    justify-content: flex-end;
  }

  > :deep(a),
  > :deep(button.dropdown-trigger) {
    padding: $spacing-lg $spacing-md;
    display: inline-block;

    @media #{$viewport-xs} {
      border-bottom: $spacing-sm solid transparent;
      margin-bottom: -$spacing-sm;
    }
    @media #{$viewport-lg} {
      padding: $spacing-lg $spacing-lg;
    }

    &:hover,
    &:focus {
      color: $primary-900;

      @media #{$viewport-xs} {
        border-color: $primary-600;
      }
    }

    &.router-link-active {
      color: $tertiary-700;

      @media #{$viewport-xs} {
        border-color: $secondary-600;
      }

      @media #{$viewport-md} {
        color: $tertiary-800;
      }
    }

    &.hidden-mobile {
      display: none;
      @media #{$viewport-md} {
        display: inline-block;
      }
    }

    &.visible-mobile {
      cursor: pointer;

      @media #{$viewport-md} {
        display: none;
      }
    }

    &.opened {
      background-color: mix($primary-200, $secondary-400, 40);
    }
  }

  :deep(.nav-icon) {
    @include fa-fixed-width;

    margin: 0 $spacing-sm;

    @media #{$viewport-xs} {
      margin: 0 $spacing-md;
    }

    @media #{$viewport-sm} {
      margin: 0 $spacing-lg;
    }

    @media #{$viewport-md} {
      margin: 0 $spacing-md 0 0;
      width: auto;
    }
  }

  :deep(.dropdown-trigger .nav-icon) {
    @media #{$viewport-md} {
      margin: 0 $spacing-lg;
      width: auto;
    }
  }

  :deep(.dropdown-content) {
    margin-top: -$spacing-sm; // overlay the border
  }
}
</style>
