<template>
  <TheNavigation>
    <template #left>
      <RouterLink to="/discover">
        <span class="nav-icon fa fa-shoe-prints" aria-hidden="true"></span>
        <span class="nav-text md:visible">
          {{ t.navigation.people }}
        </span>
      </RouterLink>
      <RouterLink to="/likes">
        <span class="nav-icon fa fa-fire" aria-hidden="true"></span>
        <span class="nav-text md:visible">
          {{ t.navigation.likes }}
        </span>
      </RouterLink>
      <RouterLink to="/chat">
        <span class="nav-icon fa fa-comments" aria-hidden="true"></span>
        <span class="nav-text md:visible">
          {{ t.navigation.chat }}
        </span>
      </RouterLink>
    </template>
    <template #right>
      <RouterLink class="hidden-mobile" to="/profile" :aria-hidden="isMobile">
        <span class="nav-icon fa fa-user-circle" aria-hidden="true"></span>
        <span class="nav-text md:visible">
          {{ t.navigation.profile }}
        </span>
      </RouterLink>
      <NavigationDropdown :align="Align.RIGHT" content-id="account-settings">
        <template #button="{ expanded }">
          <span class="sr-only">{{
            t.toggle(t.navigation.extendedMenu, expanded)
          }}</span>
          <span class="nav-icon fa fa-fw fa-bars" aria-hidden="true"></span>
        </template>
        <template #content>
          <RouterLink to="/profile" v-if="isMobile">
            <span class="nav-text">{{ t.navigation.profile }}</span>
            <span
              class="nav-icon fa fa-fw fa-user-circle"
              aria-hidden="true"
            ></span>
          </RouterLink>
          <RouterLink to="/account">
            <span class="nav-text">{{ t.navigation.account }}</span>
            <span class="nav-icon fa fa-fw fa-cogs" aria-hidden="true"></span>
          </RouterLink>
          <RouterLink to="/support">
            <span class="nav-text">{{ t.navigation.support }}</span>
            <span
              class="nav-icon fa fa-fw fa-question-circle"
              aria-hidden="true"
            ></span>
          </RouterLink>
          <RouterLink to="/logout">
            <span class="nav-text">{{ t.navigation.logout }}</span>
            <span
              class="nav-icon fa fa-fw fa-sign-out-alt"
              aria-hidden="true"
            ></span>
          </RouterLink>
        </template>
      </NavigationDropdown>
    </template>
  </TheNavigation>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import TheNavigation from "@/modules/frame/navigation/TheNavigation.vue";
import { RouterLink } from "vue-router";
import NavigationDropdown from "@/modules/frame/navigation/dropdown/NavigationDropdown.vue";
import {
  injectViewport,
  isBelow,
  Viewport,
} from "@/modules/common/viewport.provider";
import { injectTranslations } from "@/i18n/provider";
import { Align } from "@/modules/frame/navigation/dropdown/NavigationDropdownContent.vue";

export default defineComponent({
  components: {
    TheNavigation,
    RouterLink,
    NavigationDropdown,
  },
  setup() {
    const viewport = injectViewport();
    const isMobile = computed(() => isBelow(viewport.value, Viewport.MD));

    return {
      Align,

      t: injectTranslations(),
      isMobile,
    };
  },
});
</script>
