<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="description"
      content="Privacy and data protection focused dating, more generally connection building, website. Find people sharing common interests in your search area."
    />
    <meta property="og:title" content="FOSS Dating" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>FOSS Dating (working title)</title>
  </head>
  <body tabindex="0">
    <noscript>
      <strong>
        We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <!-- built files will be auto injected -->
  </body>
</html>
