@import "~@/styles/theme/variables/index.scss";

html {
  height: 100%;
  overflow-y: hidden;
  font-size: 14pt;

  background-color: $primary-100;
  background-image: linear-gradient(
    220deg,
    mix($primary-200, $secondary-400, 50),
    $primary-100
  );
  background-attachment: fixed;

  @media screen {
    font-size: $font-size--screen;
  }
}

body {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
}
