@import "~@/styles/theme/variables";

@mixin scrollbar-color($handle-color, $bg-color: $scrollbar-bg) {
  scrollbar-color: $handle-color $bg-color;

  &::-webkit-scrollbar-track-piece {
    background-color: $bg-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $handle-color;
  }
}

@mixin scrollbar-transition($duration) {
  transition: scrollbar-color $duration ease-out;

  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-thumb {
    transition: background-color $duration ease-out;
  }
}

* {
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  @include scrollbar-color($scrollbar-handle);
  @include scrollbar-transition(500ms);

  &:focus-within,
  &.scrolling {
    @include scrollbar-color($scrollbar-handle--focus);
    @include scrollbar-transition(50ms);
  }

  &.scrolling {
    @include scrollbar-transition(10ms);
  }
}

body {
  // after history navigation, no element has :focus, but the body is still
  // scrollable
  @include scrollbar-color($scrollbar-handle--focus);
}
