<template>
  <div id="frame" aria-busy="true">
    <div class="container" aria-hidden="true">
      <h1 class="font--heading">FOSS Dating</h1>
      <hr />
      <Spinner />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Spinner from "@/modules/common/Spinner.vue";

export default defineComponent({
  components: { Spinner },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";

#frame {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  white-space: nowrap;
  color: $secondary-600;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: $spacing-lg;
}

hr {
  margin-bottom: $spacing-xl;
  border: none;
  width: 125%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    $secondary-300,
    $secondary-600,
    $secondary-300,
    transparent
  );

  @media (min-height: 640px) {
    margin-bottom: $spacing-xxl;
  }
}
</style>
