<template>
  <div id="frame" data-type="panel" :lang="ISO_639_CODE[i18n.locale]">
    <TheUserNavigation />
    <div class="container-fluid">
      <main id="content" aria-live="polite">
        <RouterView />
      </main>
    </div>
    <TheFooter />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TheUserNavigation from "@/modules/frame/navigation/TheUserNavigation.vue";
import TheFooter from "@/modules/frame/TheFooter.vue";
import { injectI18n } from "@/i18n/provider";
import { ISO_639_CODE } from "@/i18n/constants";

export default defineComponent({
  components: {
    TheUserNavigation,
    TheFooter,
  },
  setup() {
    return {
      ISO_639_CODE,
      i18n: injectI18n(),
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";
@import "~@/styles/mixins";

#frame {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  @include container-fluid;
  flex: 1;
  background-color: $panel-bg-base;
  box-shadow: 0 0 4px $real-black;
}

#content {
  padding: $spacing-lg $spacing-xl;
  margin-left: -$spacing-sm;
  margin-right: -$spacing-sm;

  @media #{$viewport-xs} {
    margin-left: 0;
    margin-right: 0;
  }

  > :deep(.page > .full-width) {
    margin-left: -$spacing-xl;
    margin-right: -$spacing-xl;
  }

  > :deep(.page > .magnet-top) {
    margin-top: -$spacing-lg;
  }
}
</style>
