<template>
  <div id="frame" data-type="container">
    <TheUserNavigation />
    <main id="content" class="container-fluid">
      <RouterView />
    </main>
    <TheFooter />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TheUserNavigation from "@/modules/frame/navigation/TheUserNavigation.vue";
import TheFooter from "@/modules/frame/TheFooter.vue";

/**
 * The most simple frame. The footer is shown at the bottom and the whole body
 * gets scrollable with growing content.
 */
export default defineComponent({
  components: {
    TheUserNavigation,
    TheFooter,
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";
@import "~@/styles/mixins";

#frame {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  @include container-fluid;
  flex: 1;
}
</style>
