<template>
  <!-- TODO [MVP]: Add full profile link -->
  <article
    class="profile-preview profile-preview--simple"
    :data-profile-id="profile.id"
  >
    <img
      v-if="profile.picture"
      :src="profile.picture"
      :alt="t.profile.portrait"
      class="profile-picture"
    />
    <!--suppress HtmlRequiredAltAttribute -->
    <img
      v-else
      src="https://via.placeholder.com/200x300"
      aria-hidden="true"
      class="profile-picture placeholder"
    />
    <div class="profile-text">
      <h3>
        <NameAndAge :profile="profile"></NameAndAge>
      </h3>
      <div class="profile-body">
        <div class="profile-meta">
          <div class="profile-attributes" v-if="profile.attributes.length">
            <dl>
              <template
                v-for="attribute in profile.attributes"
                :key="attribute"
              >
                <dt :lang="i18n.langCodeOf(attribute.label)">
                  {{ i18n.localize(attribute.label) }}
                </dt>
                <dd :lang="i18n.langCodeOf(attribute.value)">
                  {{ i18n.localize(attribute.value) }}
                </dd>
              </template>
            </dl>
          </div>
          <section class="profile-section" v-if="profile.section">
            <h4 :lang="i18n.langCodeOf(profile.section.label)">
              {{ i18n.localize(profile.section.label) }}
            </h4>
            <div
              class="profile-section-text"
              :lang="i18n.langCodeOf(profile.section.value)"
            >
              {{ i18n.localize(profile.section.value) }}
            </div>
          </section>
        </div>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { ProfilePreviewSimple } from "@/modules/profile/profile.service";
import { injectI18n, injectTranslations } from "@/i18n/provider";
import NameAndAge from "@/modules/profile/NameAndAge.vue";

export default defineComponent({
  components: { NameAndAge },
  props: {
    data: Object as PropType<ProfilePreviewSimple>,
  },
  setup(props) {
    return {
      t: injectTranslations(),
      i18n: injectI18n(),
      profile: props.data,
    };
  },
});
</script>

<style lang="scss" scoped>
@use "sass:math";

@import "~@/styles/theme/variables";

@keyframes profile-stack-in {
  0% {
    opacity: 0;
    transform: scaleX(0.5) scaleY(0.1);
  }
  100% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}

.profile-preview {
  position: relative;
  animation: profile-stack-in ease 0.6s;
  background-color: $panel-bg-bright;
  border: 0 solid $primary-500;
  margin-top: $spacing-xl;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: $spacing-lg;
  border-top-width: $spacing-sm;
  border-radius: $spacing-xl $spacing-xl $spacing-md $spacing-md;

  @media #{$viewport-md} {
    padding: $spacing-lg $spacing-lg $spacing-lg $spacing-sm;
    border-top-width: 0;
    border-left-width: $spacing-md;
    border-radius: $spacing-xl 0 0 $spacing-xl;
    flex-direction: row;
    align-items: center;
  }
}

.profile-picture {
  width: 200px;
  height: 300px;
  margin-bottom: $spacing-lg;
  border-radius: $spacing-sm;
  align-self: center;

  @media #{$viewport-md} {
    margin-bottom: 0;
    margin-right: $spacing-xl;
    align-self: unset;
    flex-basis: 200px;
    flex-shrink: 0;
  }

  &.placeholder {
    display: none;
    border: $spacing-px dashed $primary-500;

    @media #{$viewport-md} {
      display: block;
    }
  }
}

.profile-text {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    padding-bottom: $spacing-md;
    border-bottom: 1px solid fade-out($black, 0.8);
    margin-bottom: $spacing-lg;
  }

  > .profile-body {
    margin-top: auto;
    margin-bottom: auto;
  }

  .profile-meta {
    display: flex;
    flex-direction: column;

    @media #{$viewport-xs} {
      flex-direction: row-reverse;
      margin: math.div(-$spacing-md, 2) math.div(-$spacing-lg, 2);

      > * {
        margin: math.div($spacing-md, 2) math.div($spacing-lg, 2);
        flex-grow: 1;
      }
    }
  }
}

.profile-section > header,
.profile-attributes dt {
  font-weight: 600;
  font-size: 0.85rem;
  color: $gray-400;
}

.profile-section > .profile-section-text,
.profile-attributes dd {
  font-weight: 600;

  @media #{$viewport-xs} {
    margin-bottom: $spacing-sm;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.profile-section > .profile-section-text {
  color: $secondary-500;
}
.profile-attributes dd {
  color: $primary-400;
}

.profile-attributes {
  text-align: right;

  @media #{$viewport-below-xs} {
    text-align: center;
    border-bottom: 1px solid fade-out($black, 0.8);
    padding-bottom: $spacing-lg;
    margin-bottom: $spacing-lg;

    dd,
    dt {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      word-break: break-word;
    }

    dt {
      text-align: right;
      padding-top: 0.15rem; // font-size difference between dd and dt
      padding-right: math.div($spacing-md, 2);
    }
    dd {
      text-align: left;
      padding-left: math.div($spacing-md, 2);
    }

    dd::after {
      content: "";
      display: block;
    }
  }
}

.profile-section {
  text-align: center;

  @media #{$viewport-xs} {
    text-align: left;
  }
}
</style>
