$real-black: #000000;
$black: #2a2a2a;
$white: #fff8fe;

$gray-200: #323132;
$gray-300: #484548;
$gray-400: #757075;
$gray-700: #b8b3b8;
$gray-900: #ddd6dd;

$primary-100: #091a2b;
$primary-200: #0f2a45;
$primary-300: #153454;
$primary-400: #184470;
$primary-500: #215c99;
$primary-600: #3074ba;
$primary-700: #4f88c6;
$primary-800: #79b4ef;
$primary-900: #cfe1fa;

$secondary-100: #1f0f17;
$secondary-200: #391c2a;
$secondary-300: #452232;
$secondary-400: #5d2e43;
$secondary-500: #773b54;
$secondary-600: #8c4764;
$secondary-700: #ab6683;
$secondary-800: #c489a2;
$secondary-900: #e5c9d5;

$tertiary-200: #453011;
$tertiary-300: #5d4216;
$tertiary-400: #805a24;
$tertiary-500: #a47a41;
$tertiary-700: #efa751;
$tertiary-800: #ffc785;
$tertiary-900: #ffedde;

$green-200: #033924;
$green-400: #0b7349;
$green-800: #5dd4a0;

$danger-300: #600906;
$danger-400: #8d0e09;
$danger-700: #f15850;
$danger-900: #fdcbc8;

$like-direction: $secondary-400;
$like-single: $secondary-700;
$like-match: $danger-400;

// Semantic mapping

$panel-bg-base: fade-out($white, 0.25);
$panel-bg-bright: $white;
$panel-bg-transparent: fade-out($white, 0.95);

$scrollbar-bg: fade-out($white, 0.95);
$scrollbar-handle: fade-out($white, 0.75);
$scrollbar-handle--focus: fade-out($primary-900, 0.5);
