@use "sass:math";

$spacing-px: math.div(1rem, 18);
$spacing-xs: math.div(3rem, 18);
$spacing-sm: math.div(7rem, 18);
$spacing-md: math.div(11rem, 18);
$spacing-lg: math.div(18rem, 18);
$spacing-xl: math.div(32rem, 18);
$spacing-xxl: math.div(56rem, 18);
$spacing-xxxl: math.div(96rem, 18);

$spacing: (
  px: $spacing-px,
  xs: $spacing-xs,
  sm: $spacing-sm,
  md: $spacing-md,
  lg: $spacing-lg,
  xl: $spacing-xl,
  xxl: $spacing-xxl,
  xxxl: $spacing-xxxl,
);
