<template>
  <div id="page--people" class="page">
    <h2 class="sr-only">{{ t.navigation.people }}</h2>
    <div
      class="profile-tabs full-width"
      v-if="user.profiles.length > 1"
      role="tablist"
      :aria-label="t.profile.selection"
    >
      <div class="indicator" aria-hidden="true">
        <span class="fa fa-user-circle" />
      </div>
      <button
        v-for="profile in user.profiles"
        :key="profile.id"
        class="profile-tab"
        :class="{ active: profile.id === activeProfileId }"
        :disabled="profile.id === activeProfileId"
        @click="activeProfileId = profile.id"
        :data-profile-id="profile.id"
        :title="profile.label"
        role="tab"
        :aria-selected="profile.id === activeProfileId"
        :aria-controls="`people-view-content--${profile.id}`"
      >
        {{ profile.label }}
      </button>
    </div>
    <div
      :id="`people-view-content--${activeProfileId}`"
      role="tabpanel"
      :aria-busy="profiles.loading"
      aria-live="polite"
    >
      <template v-if="profiles.loading">
        <Spinner
          class="mx-auto mt-xl md:mt-xxl"
          :size="SpinnerSize.large"
          role="presentation"
        />
      </template>
      <template v-else-if="profiles.succeeded">
        <template v-if="profiles.value.length">
          <component
            v-for="profile in profiles.value"
            class="profile-preview"
            :key="profile.id"
            :is="ProfilePreviewComponents[profile.layout]"
            :data="profile"
          ></component>
        </template>
        <div v-else class="no-profiles">{{ t.people.noneFound }}</div>
      </template>
      <div v-else role="alert">Error: {{ profiles.error }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { injectUser } from "@/modules/user/user.provider";
import { LoggedInUser } from "@/modules/user/user.types";
import {
  fetchProfilePreviews,
  getLastActiveProfileId,
} from "@/modules/profile/profile.service";
import { useEffectLoading } from "@/modules/common/hooks/loading";
import Spinner, { SpinnerSize } from "@/modules/common/Spinner.vue";
import { ProfilePreviewComponents } from "@/modules/profile/preview";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  components: {
    Spinner,
  },
  setup() {
    const user = injectUser<LoggedInUser>();
    const activeProfileId = ref(
      getLastActiveProfileId(injectUser<LoggedInUser>().user.profiles)
    );
    const activeProfile = computed(
      () => user.user.profiles.find((it) => it.id === activeProfileId.value)!
    );

    return {
      SpinnerSize,
      ProfilePreviewComponents,

      ...user,
      t: injectTranslations(),
      profiles: useEffectLoading(
        async () => await fetchProfilePreviews(activeProfile.value)
      ),
      activeProfileId,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";
@import "~@/styles/mixins";

.page {
  padding: 0 0 $spacing-xl 0;
}

.profile-tabs {
  background-color: $panel-bg-base;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;

  @media #{$viewport-md} {
    flex-wrap: nowrap;
  }

  > .indicator {
    display: none;
    flex: 0;

    @media #{$viewport-md} {
      display: block;
      padding: $spacing-lg $spacing-xl;
    }
  }

  > .profile-tab {
    padding: $spacing-lg $spacing-xl;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 1;
    @include truncate;

    @media #{$viewport-sm} {
      flex-basis: 250px;
      flex-shrink: 1;
    }

    @media #{$viewport-md} {
      max-width: 250px;
    }

    &:hover,
    &:focus {
      background-color: fade-out($white, 0.7);
    }

    &.active {
      background-color: $white;
      cursor: default;
    }
  }
}

.profile-preview {
  margin-left: $spacing-sm;
  margin-right: $spacing-sm;

  @media #{$viewport-xs} {
    margin-left: 0;
    margin-right: 0;
  }
}

.no-profiles {
  color: $danger-700;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: $spacing-xxl;
}
</style>
