<template>
  <div
    class="spinner"
    :class="[
      /*
       * Name them explicitly for purgecss to not purge...
       * spinner--small spinner--medium spinner--large
       */
      `spinner--${size}`,
      inverse ? 'spinner--secondary' : 'spinner--primary',
    ]"
    aria-busy="true"
  >
    <div class="spinner-bar" />
    <div class="spinner-bar" />
    <div class="spinner-bar" />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export enum SpinnerSize {
  small = "small",
  medium = "medium",
  large = "large",
}

export default defineComponent({
  props: {
    size: {
      type: String as PropType<SpinnerSize>,
      default: SpinnerSize.large,
    },
    inverse: {
      type: Boolean,
      default: false,
    },
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";

@keyframes spinner-bars {
  0% {
    height: 66%;
  }
  2% {
    height: 100%;
  }
  50%,
  100% {
    height: 66%;
  }
}

@keyframes spinner-bars--primary {
  0% {
    background-color: $primary-500;
  }
  50% {
    background-color: $primary-400;
  }
  100% {
    background-color: $primary-200;
  }
}

@keyframes spinner-bars--secondary {
  0% {
    background-color: $secondary-500;
  }
  50% {
    background-color: $secondary-400;
  }
  100% {
    background-color: $secondary-300;
  }
}

.spinner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.spinner--small {
    width: 24px;
    height: 24px;
  }
  &.spinner--medium {
    width: 54px;
    height: 54px;
  }
  &.spinner--large {
    width: 96px;
    height: 96px;
  }

  &.spinner--primary > .spinner-bar {
    animation: spinner-bars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite,
      spinner-bars--primary 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  &.spinner--secondary > .spinner-bar {
    animation: spinner-bars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite,
      spinner-bars--secondary 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  > .spinner-bar {
    width: 25%;

    &:nth-child(1) {
      animation-delay: -0.24s, -0.24s;
    }
    &:nth-child(2) {
      animation-delay: -0.12s, -0.12s;
    }
  }
}
</style>
